page-home {
  .scroll-content {
    overflow-y: hidden;
  }
  #switch_selection_mode {
    position: absolute;
    left: 10px;
    top: 5px;
  }
  #clear_selection {
    position: absolute;
    left: 100px;
    top: 5px;
  }
}
