page-home {
  .scroll-content {
    overflow-y: hidden;
  }
  #switch_selection_mode {
    position: absolute;
    left: 20px;
    bottom: 10px;
    z-index: 100;
  }
  #clear_selection {
    position: absolute;
    left: 160px;
    bottom: 10px;
    z-index: 100;
  }
}
